Repository Artemkulish/Demo_3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_messaging, build_payment, build_simulation, build_trip, build_vehicle, build_identity, deploy, db_update_messaging, db_rollback_messaging, db_update_payment, db_rollback_payment, db_update_simulation, db_rollback_simulation, db_update_trip, db_rollback_trip, db_update_vehicle, db_rollback_vehicle

build_messaging:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - cat Dockerfile | sed -e "s/-hidden_access_id-/$SUMOLOGIC_ACCESS_ID/; s/-hidden_access_key-/$SUMOLOGIC_ACCESS_KEY/" > ./Dockerfile_changed
  - sudo mv Dockerfile_changed Dockerfile
  ...

build_payment:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - cat Dockerfile | sed -e "s/-hidden_access_id-/$SUMOLOGIC_ACCESS_ID/; s/-hidden_access_key-/$SUMOLOGIC_ACCESS_KEY/" > ./Dockerfile_changed
  - sudo mv Dockerfile_changed Dockerfile
  ...

build_simulation:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - cat Dockerfile | sed -e "s/-hidden_access_id-/$SUMOLOGIC_ACCESS_ID/; s/-hidden_access_key-/$SUMOLOGIC_ACCESS_KEY/" > ./Dockerfile_changed
  - sudo mv Dockerfile_changed Dockerfile
  ...

build_trip:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - cat Dockerfile | sed -e "s/-hidden_access_id-/$SUMOLOGIC_ACCESS_ID/; s/-hidden_access_key-/$SUMOLOGIC_ACCESS_KEY/" > ./Dockerfile_changed
  - sudo mv Dockerfile_changed Dockerfile
  ...

build_vehicle:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - cat Dockerfile | sed -e "s/-hidden_access_id-/$SUMOLOGIC_ACCESS_ID/; s/-hidden_access_key-/$SUMOLOGIC_ACCESS_KEY/" > ./Dockerfile_changed
  - sudo mv Dockerfile_changed Dockerfile
  ...

build_identity:
  stage: build
  script:
  - cd identity/identity-starter && mvn clean install
  - cd ../identity-service && mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:identity .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:identity

deploy:
  stage: deploy
  script:
  - INSTANCE_IP=$(cat ~/instance_ip)
  - scp -r /home/env docker-compose.yml deploy.sh $USERNAME@$INSTANCE_IP:/tmp
  - ssh $USERNAME@$INSTANCE_IP "sudo cp -r /tmp/env /var/ && sudo mv /tmp/docker-compose.yml /var/ && sudo mv /tmp/deploy.sh /var/"
  ...

db_update_messaging:
  before_script:
  - DATABASE_IP=$(sed -n 1p /home/pass/env.txt)
  - DATABASE_PASSWORD=$(sed -n 2p /home/pass/env.txt)
  - DATABASE_USERNAME=$(sed -n 3p /home/pass/env.txt)
  - echo $DATABASE_IP
  ...

db_rollback_messaging:
  before_script:
  - DATABASE_IP=$(sed -n 1p /home/pass/env.txt)
  - DATABASE_PASSWORD=$(sed -n 2p /home/pass/env.txt)
  - DATABASE_USERNAME=$(sed -n 3p /home/pass/env.txt)
  - echo $DATABASE_IP
  ...

db_update_payment:
  before_script:
  - DATABASE_IP=$(sed -n 1p /home/pass/env.txt)
  - DATABASE_PASSWORD=$(sed -n 2p /home/pass/env.txt)
  - DATABASE_USERNAME=$(sed -n 3p /home/pass/env.txt)
  - echo $DATABASE_IP
  ...

db_rollback_payment:
  before_script:
  - DATABASE_IP=$(sed -n 1p /home/pass/env.txt)
  - DATABASE_PASSWORD=$(sed -n 2p /home/pass/env.txt)
  - DATABASE_USERNAME=$(sed -n 3p /home/pass/env.txt)
  - echo $DATABASE_IP
  ...

Update README.md
  README.md
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update Dockerfile
  payment/Dockerfile
Due: build_payment, deploy, db_update_payment, db_rollback_payment

Update Dockerfile
  identity/identity-service/Dockerfile
Due: build_identity, deploy

Update Dockerfile
  messaging/Dockerfile
Due: build_messaging, deploy, db_update_messaging, db_rollback_messaging

Update Dockerfile
  trip/Dockerfile
Due: build_trip, deploy, db_update_trip, db_rollback_trip

Update Dockerfile
  vehicle/Dockerfile
Due: build_vehicle, deploy, db_update_vehicle, db_rollback_vehicle

testing
  identity/test
  messaging/test
  payment/test
  simulation/test
  trip/test
  vehicle/test
Due: build_messaging, build_payment, build_simulation, build_trip, build_vehicle, build_identity, deploy, db_update_messaging, db_rollback_messaging, db_update_payment, db_rollback_payment, db_update_simulation, db_rollback_simulation, db_update_trip, db_rollback_trip, db_update_vehicle, db_rollback_vehicle

Update deploy.sh
  deploy.sh
Due: none

Update payment.xml
  database-update/payment.xml
Due: db_update_payment, db_rollback_payment

Update pom.xml
  vehicle/pom.xml
Due: build_vehicle, deploy, db_update_vehicle, db_rollback_vehicle

Path conditions:
  build_messaging: any of: messaging/**/*
  build_payment: any of: payment/**/*
  build_simulation: any of: simulation/**/*
  build_trip: any of: trip/**/*
  build_vehicle: any of: vehicle/**/*
  build_identity: any of: identity/**/*
  deploy: any of: identity/**/*, vehicle/**/*, trip/**/*, simulation/**/*, payment/**/*, messaging/**/*
  db_update_messaging: any of: messaging/**/*, database-update/messaging.xml
  db_rollback_messaging: any of: messaging/**/*, database-update/messaging.xml
  db_update_payment: any of: payment/**/*, database-update/payment.xml
  db_rollback_payment: any of: payment/**/*, database-update/payment.xml
  db_update_simulation: any of: simulation/**/*, database-update/simulation.xml
  db_rollback_simulation: any of: simulation/**/*, database-update/simulation.xml
  db_update_trip: any of: trip/**/*, database-update/trip.xml
  db_rollback_trip: any of: trip/**/*, database-update/trip.xml
  db_update_vehicle: any of: vehicle/**/*, database-update/vehicle.xml
  db_rollback_vehicle: any of: vehicle/**/*, database-update/vehicle.xml
