Repository Artemkulish/Demo_3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_identity, build_messaging, build_payment, build_simulation, build_trip, build_vehicle, deploy_identity, deploy_messaging, deploy_payment, deploy_simulation, deploy_trip, deploy_vehicle

build_identity:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP
  artifacts:
    paths:
    - $PATH_TO_APP$PATH_TO_JAR
    expire_in: 1 day
  variables:
  ...

build_messaging:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP
  artifacts:
    paths:
    - $PATH_TO_APP$PATH_TO_JAR
    expire_in: 1 day
  variables:
  ...

build_payment:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP
  artifacts:
    paths:
    - $PATH_TO_APP$PATH_TO_JAR
    expire_in: 1 day
  variables:
  ...

build_simulation:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP
  artifacts:
    paths:
    - $PATH_TO_APP$PATH_TO_JAR
    expire_in: 1 day
  variables:
  ...

build_trip:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP
  artifacts:
    paths:
    - $PATH_TO_APP$PATH_TO_JAR
    expire_in: 1 day
  variables:
  ...

build_vehicle:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP
  artifacts:
    paths:
    - $PATH_TO_APP$PATH_TO_JAR
    expire_in: 1 day
  variables:
  ...

deploy_identity:
  stage: deploy
  script:
  - scp -r /home/env docker-compose.yml deploy.sh $USERNAME@$IP:/tmp
  - ssh $USERNAME@$IP "sudo mv /tmp/*.jar /var/ && sudo mv /tmp/docker-compose.yml /var/ && sudo mv /tmp/deploy.sh /var/"
  - ssh $USERNAME@$IP "sudo bash /var/deploy.sh"
  variables:
  ...

deploy_messaging:
  stage: deploy
  script:
  - scp -r /home/env docker-compose.yml deploy.sh $USERNAME@$IP:/tmp
  - ssh $USERNAME@$IP "sudo mv /tmp/*.jar /var/ && sudo mv /tmp/docker-compose.yml /var/ && sudo mv /tmp/deploy.sh /var/"
  - ssh $USERNAME@$IP "sudo bash /var/deploy.sh"
  variables:
    PATH_TO_APP: messaging

deploy_payment:
  stage: deploy
  script:
  - scp -r /home/env docker-compose.yml deploy.sh $USERNAME@$IP:/tmp
  - ssh $USERNAME@$IP "sudo mv /tmp/*.jar /var/ && sudo mv /tmp/docker-compose.yml /var/ && sudo mv /tmp/deploy.sh /var/"
  - ssh $USERNAME@$IP "sudo bash /var/deploy.sh"
  variables:
    PATH_TO_APP: payment

testing
  identity/test
  messaging/test
  payment/test
  simulation/test
  trip/test
  vehicle/test
Due: build_identity, build_messaging, build_payment, build_simulation, build_trip, build_vehicle, deploy_identity, deploy_messaging, deploy_payment, deploy_simulation, deploy_trip, deploy_vehicle

Update docker-compose.yml
  docker-compose.yml
Due: none

Update deploy.sh
  deploy.sh
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update pom.xml
  simulation/pom.xml
Due: build_simulation, deploy_simulation

Update Dockerfile
  simulation/Dockerfile
Due: build_simulation, deploy_simulation

Update HELP.md
  simulation/HELP.md
Due: build_simulation, deploy_simulation

Path conditions:
  build_identity: any of: identity/**/*
  build_messaging: any of: messaging/**/*
  build_payment: any of: payment/**/*
  build_simulation: any of: simulation/**/*
  build_trip: any of: trip/**/*
  build_vehicle: any of: vehicle/**/*
  deploy_identity: any of: identity/**/*
  deploy_messaging: any of: messaging/**/*
  deploy_payment: any of: payment/**/*
  deploy_simulation: any of: simulation/**/*
  deploy_trip: any of: trip/**/*
  deploy_vehicle: any of: vehicle/**/*
