Repository Artemkulish/Demo_3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_messaging, build_payment, build_simulation, build_trip, build_vehicle, build_identity, deploy_identity, deploy_messaging, deploy_payment, deploy_simulation, deploy_trip, deploy_vehicle, database_update, database_rollback

build_messaging:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP
  variables:
    PATH_TO_APP: messaging

build_payment:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP
  variables:
    PATH_TO_APP: payment

build_simulation:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP
  variables:
    PATH_TO_APP: simulation

build_trip:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP
  variables:
    PATH_TO_APP: trip

build_vehicle:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP
  variables:
    PATH_TO_APP: vehicle

build_identity:
  stage: build
  script:
  - cd identity/identity-starter && mvn clean install
  - cd ../identity-service && mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:identity .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:identity

deploy_identity:
  stage: deploy
  script:
  - INSTANCE_IP=$(cat ~/instance_ip)
  - scp -r /home/env docker-compose.yml deploy.sh $USERNAME@$INSTANCE_IP:/tmp
  - ssh $USERNAME@$INSTANCE_IP "sudo cp -r /tmp/env /var/ && sudo mv /tmp/docker-compose.yml /var/ && sudo mv /tmp/deploy.sh /var/"
  ...

deploy_messaging:
  stage: deploy
  script:
  - INSTANCE_IP=$(cat ~/instance_ip)
  - scp -r /home/env docker-compose.yml deploy.sh $USERNAME@$INSTANCE_IP:/tmp
  - ssh $USERNAME@$INSTANCE_IP "sudo cp -r /tmp/env /var/ && sudo mv /tmp/docker-compose.yml /var/ && sudo mv /tmp/deploy.sh /var/"
  ...

deploy_payment:
  stage: deploy
  script:
  - INSTANCE_IP=$(cat ~/instance_ip)
  - scp -r /home/env docker-compose.yml deploy.sh $USERNAME@$INSTANCE_IP:/tmp
  - ssh $USERNAME@$INSTANCE_IP "sudo cp -r /tmp/env /var/ && sudo mv /tmp/docker-compose.yml /var/ && sudo mv /tmp/deploy.sh /var/"
  ...

deploy_simulation:
  stage: deploy
  script:
  - INSTANCE_IP=$(cat ~/instance_ip)
  - scp -r /home/env docker-compose.yml deploy.sh $USERNAME@$INSTANCE_IP:/tmp
  - ssh $USERNAME@$INSTANCE_IP "sudo cp -r /tmp/env /var/ && sudo mv /tmp/docker-compose.yml /var/ && sudo mv /tmp/deploy.sh /var/"
  ...

database_update:
  stage: update
  script:
  - cd trip
  - mvn liquibase:$FUNCTION
  when: manual
  variables:
    FUNCTION: update

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Create identity.xml
  database-update/identity.xml
Due: none

Update liquibase.properties
  database-update/liquibase.properties
Due: none

Update dbchangelog.xml
  database-update/dbchangelog.xml
Due: none

Update identity.xml
  database-update/identity.xml
Due: none

Update pom.xml
  identity/identity-service/pom.xml
Due: build_identity, deploy_identity

Delete dbchangelog.xml
  database-update/dbchangelog.xml
Due: none

Update pom.xml
  trip/pom.xml
Due: build_trip, deploy_trip

Create trip.xml
  database-update/trip.xml
Due: none

Update pom.xml
  identity/pom.xml
Due: build_identity, deploy_identity

Rename liquibase.properties to liquibase.template
  database-update/liquibase.template
Due: none

Update liquibase.template
  database-update/liquibase.template
Due: none

Path conditions:
  build_messaging: any of: messaging/**/*
  build_payment: any of: payment/**/*
  build_simulation: any of: simulation/**/*
  build_trip: any of: trip/**/*
  build_vehicle: any of: vehicle/**/*
  build_identity: any of: identity/**/*
  deploy_identity: any of: identity/**/*
  deploy_messaging: any of: messaging/**/*
  deploy_payment: any of: payment/**/*
  deploy_simulation: any of: simulation/**/*
  deploy_trip: any of: trip/**/*
  deploy_vehicle: any of: vehicle/**/*
  database_update: any of: dbchangelog.xml
  database_rollback: any of: dbchangelog.xml
