Repository Artemkulish/Demo_3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_messaging, build_payment, build_simulation, build_trip, build_vehicle, build_identity, deploy_identity, deploy_messaging, deploy_payment, deploy_simulation, deploy_trip, deploy_vehicle

build_messaging:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP
  artifacts:
    paths:
    - $PATH_TO_APP$PATH_TO_JAR
    expire_in: 60
  variables:
  ...

build_payment:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP
  artifacts:
    paths:
    - $PATH_TO_APP$PATH_TO_JAR
    expire_in: 60
  variables:
  ...

build_simulation:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP
  artifacts:
    paths:
    - $PATH_TO_APP$PATH_TO_JAR
    expire_in: 60
  variables:
  ...

build_trip:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP
  artifacts:
    paths:
    - $PATH_TO_APP$PATH_TO_JAR
    expire_in: 60
  variables:
    PATH_TO_APP: trip

build_vehicle:
  stage: build
  script:
  - cd $PATH_TO_APP
  - mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP
  artifacts:
    paths:
    - $PATH_TO_APP$PATH_TO_JAR
    expire_in: 60
  variables:
  ...

build_identity:
  stage: build
  script:
  - cd identity/identity-starter && mvn clean install
  - cd ../identity-service && mvn clean package
  - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:identity .
  - sudo docker push gitlab.svagworks.me:5050/root/demo_3:identity
  artifacts:
    paths:
  ...

deploy_identity:
  stage: deploy
  script:
  - scp -r /home/env docker-compose.yml deploy.sh $PATH_TO_APP$PATH_TO_JAR $USERNAME@$IP_TEST:/tmp
  - ssh $USERNAME@$IP_TEST "sudo mv /tmp/*.jar /home/ && sudo mv /tmp/docker-compose.yml /home/ && sudo mv /tmp/deploy.sh /home/"
  - ssh $USERNAME@$IP_TEST "sudo bash /home/deploy.sh"
  ...

deploy_messaging:
  stage: deploy
  script:
  - scp -r /home/env docker-compose.yml deploy.sh $PATH_TO_APP$PATH_TO_JAR $USERNAME@$IP_TEST:/tmp
  - ssh $USERNAME@$IP_TEST "sudo mv /tmp/*.jar /home/ && sudo mv /tmp/docker-compose.yml /home/ && sudo mv /tmp/deploy.sh /home/"
  - ssh $USERNAME@$IP_TEST "sudo bash /home/deploy.sh"
  ...

deploy_payment:
  stage: deploy
  script:
  - scp -r /home/env docker-compose.yml deploy.sh $PATH_TO_APP$PATH_TO_JAR $USERNAME@$IP_TEST:/tmp
  - ssh $USERNAME@$IP_TEST "sudo mv /tmp/*.jar /home/ && sudo mv /tmp/docker-compose.yml /home/ && sudo mv /tmp/deploy.sh /home/"
  - ssh $USERNAME@$IP_TEST "sudo bash /home/deploy.sh"
  ...

Update dbchangelog.xml
  dbchangelog.xml
Due: none

Update pom.xml
  messaging/pom.xml
Due: build_messaging, deploy_messaging

Update pom.xml
  trip/pom.xml
Due: build_trip, deploy_trip

Update liquibase.properties
  liquibase.properties
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

testing
  messaging/test
Due: build_messaging, deploy_messaging

Update Dockerfile
  messaging/Dockerfile
Due: build_messaging, deploy_messaging

Update Dockerfile
  payment/Dockerfile
Due: build_payment, deploy_payment

Update Dockerfile
  trip/Dockerfile
Due: build_trip, deploy_trip

Update Dockerfile
  vehicle/Dockerfile
Due: build_vehicle, deploy_vehicle

Update deploy.sh
  deploy.sh
Due: none

testing
  database-update/dbchangelog.xml
  database-update/liquibase.properties
Due: none

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  build_messaging: any of: messaging/**/*
  build_payment: any of: payment/**/*
  build_simulation: any of: simulation/**/*
  build_trip: any of: trip/**/*
  build_vehicle: any of: vehicle/**/*
  build_identity: any of: identity/**/*
  deploy_identity: any of: identity/**/*
  deploy_messaging: any of: messaging/**/*
  deploy_payment: any of: payment/**/*
  deploy_simulation: any of: simulation/**/*
  deploy_trip: any of: trip/**/*
  deploy_vehicle: any of: vehicle/**/*
