Repository Artemkulish/Demo_3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_identity, build_messaging, build_payment, build_simulation, build_trip, build_vehicle, deploy_identity

.gitlab-ci.yml:

variables:
    PATH_TO_JAR:    /target/*.jar
    #IP:             10.128.0.13
    #IP: $ENV-VARIEBLE
    
stages:
    - build
    - deploy    
    - update
    

.build_template: &build_template
    stage: build
    script:
        - cd $PATH_TO_APP
        - mvn clean package
    artifacts:
        paths:
        - $PATH_TO_APP$PATH_TO_JAR
        expire_in: 1 day
   

build_identity:
    <<: *build_template
    variables:
        PATH_TO_APP: identity/identity-service
    only:
        changes:
            - identity/**/*

build_messaging:
    <<: *build_template
    variables:
        PATH_TO_APP: messaging
    only:
        changes:
            - messaging/**/*
        
build_payment:
    <<: *build_template
    variables:
       PATH_TO_APP: payment
    only:
        changes:
           - payment/**/*

build_simulation:
    <<: *build_template
    variables:
        PATH_TO_APP: simulation     
    only:
        changes:
            - simulation/**/*

build_trip:
    <<: *build_template
    variables:
        PATH_TO_APP: trip     
    only:
        changes:
            - trip/**/*

build_vehicle:
    <<: *build_template
    variables:
        PATH_TO_APP: vehicle     
    only:
        changes:
            - vehicle/**/*


.deploy_template: &deploy_template
    stage: deploy
    script:
      #- scp docker-compose.yml $PATH_TO_APP$PATH_TO_JAR -r /home/env $USERNAME@$IP:/tmp
      - scp docker-compose.yml $PATH_TO_APP$PATH_TO_JAR $USERNAME@$IP:/tmp
      - ssh $USERNAME@$IP "sudo mv /tmp/*.jar /var/ && sudo mv /tmp/docker-compose.yml /var/ "
      #&& sudo mv /tmp/env /var/
deploy_identity:
    <<: *deploy_template
    variables:
        PATH_TO_APP: identity/identity-service
    only:
        changes:
            - identity/**/*
    dependencies:
        - build_identity

Create test
  identity/test
Due: build_identity, deploy_identity

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

testing
  identity/test
  messaging/test
  payment/test
  simulation/tet
  trip/test
  vehicle/test
Due: build_identity, build_messaging, build_payment, build_simulation, build_trip, build_vehicle, deploy_identity

Delete test
  payment/test
Due: build_payment

Create test
  payment/test
Due: build_payment

Create test
  messaging/test
Due: build_messaging

Delete test
  messaging/test
Due: build_messaging

Delete test
  trip/test
Due: build_trip

Update docker-compose.yml
  docker-compose.yml
Due: none

tessting
  identity/test
  messaging/test
  payment/test
  simulation/tet
  trip/test
  vehicle/test
Due: build_identity, build_messaging, build_payment, build_simulation, build_trip, build_vehicle, deploy_identity

test
  simulation/test
  vehicle/test
Due: build_simulation, build_vehicle

Update deploy.sh
  deploy.sh
Due: none

testing
  identity/test
  messaging/test
  payment/test
  simulation/test
  trip/test
  vehicle/test
Due: build_identity, build_messaging, build_payment, build_simulation, build_trip, build_vehicle, deploy_identity

yes
  identity/test
  messaging/tet
  payment/test
  simulation/test
  trip/test
  vehicle/test
Due: build_identity, build_messaging, build_payment, build_simulation, build_trip, build_vehicle, deploy_identity

testing
  messaging/test
  messaging/tet
  payment/test
Due: build_messaging, build_payment

test
  identity/test
  messaging/test
  payment/test
  simulation/test
  trip/test
  vehicle/test
Due: build_identity, build_messaging, build_payment, build_simulation, build_trip, build_vehicle, deploy_identity

t
  messaging/test
Due: build_messaging

test
  messaging/test
Due: build_messaging
