Repository Artemkulish/Demo_3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_messaging, build_payment, build_simulation, build_trip, build_vehicle, build_identity, deploy, db_update_trip, db_rollback_trip

.gitlab-ci.yml:

stages:
    - build
    - deploy    
    - db_update
    - db-rollback
    
.build_template: &build_template
    stage: build
    script:
        - cd $PATH_TO_APP
        - mvn clean package
        - cat Dockerfile | sed -e "s/-hidden_access_id-/$SUMOLOGIC_ACCESS_ID/; s/-hidden_access_key-/$SUMOLOGIC_ACCESS_KEY/" > ./Dockerfile_changed
        - sudo mv Dockerfile_changed Dockerfile
        - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
        - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP

build_messaging:
    <<: *build_template
    variables:
        PATH_TO_APP: messaging
    only:
        changes:
            - messaging/**/*
        
build_payment:
    <<: *build_template
    variables:
       PATH_TO_APP: payment
    only:
        changes:
           - payment/**/*

build_simulation:
    <<: *build_template
    variables:
        PATH_TO_APP: simulation     
    only:
        changes:
            - simulation/**/*

build_trip:
    <<: *build_template
    variables:
        PATH_TO_APP: trip     
    only:
        changes:
            - trip/**/*

build_vehicle:
    <<: *build_template
    variables:
        PATH_TO_APP: vehicle     
    only:
        changes:
            - vehicle/**/*

build_identity:
    stage: build
    script:
        - cd identity/identity-starter && mvn clean install
        - cd ../identity-service && mvn clean package
        - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:identity .
        - sudo docker push gitlab.svagworks.me:5050/root/demo_3:identity
    only:
        changes:
            - identity/**/*

deploy:
    stage: deploy
    script:
      - INSTANCE_IP=$(cat ~/instance_ip)
      - scp -r /home/env docker-compose.yml deploy.sh $USERNAME@$INSTANCE_IP:/tmp
      - ssh $USERNAME@$INSTANCE_IP "sudo cp -r /tmp/env /var/ && sudo mv /tmp/docker-compose.yml /var/ && sudo mv /tmp/deploy.sh /var/"
      - ssh $USERNAME@$INSTANCE_IP "cd /var/ && sudo bash /var/deploy.sh"
    only:
        changes:
            - identity/**/*
            - vehicle/**/*
            - trip/**/*
            - simulation/**/*
            - payment/**/*
            - messaging/**/*
            
.database_template: &database_template
    script:
        - DATABASE_IP=$(sed -n 1p /home/pass/env.txt)
        - DATABASE_PASSWORD=$(sed -n 2p /home/pass/env.txt)
        - DATABASE_USERNAME=$(sed -n 3p /home/pass/env.txt)
        - echo $DATABASE_IP
        - cat database-update/liquibase.template | sed -e "s/-hidden_ip-/$DATABASE_IP/; s/-app_name-/$APP/; s/-hidden_un-/$DATABASE_USERNAME/; s/-hidden_pass-/$DATABASE_PASSWORD/" > .database-update/liquibase.properties
        - cd $APP
        - mvn liquibase:$FUNCTION
    when: manual
    
db_update_trip:
    <<: *database_template
    stage: db_update
    variables:
        APP: trip
        FUNCTION: update
    only:
        changes:
            - trip/**/*
    
db_rollback_trip:
    <<: *database_template
    stage: db-rollback
    variables:
        APP: trip
        FUNCTION: rollback -Dliquibase.rollbackCount=1
    only:
        changes:
            - trip/**/*

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Create payment.xml
  database-update/payment.xml
Due: none

Update payment.xml
  database-update/payment.xml
Due: none

Update pom.xml
  payment/pom.xml
Due: build_payment, deploy

Update deploy.sh
  deploy.sh
Due: none

testing
  identity/test
  messaging/test
  payment/test
  simulation/test
  trip/test
  vehicle/test
Due: build_messaging, build_payment, build_simulation, build_trip, build_vehicle, build_identity, deploy, db_update_trip, db_rollback_trip

Create messaging.xml
  database-update/messaging.xml
Due: none

Create vehicle.xml
  database-update/vehicle.xml
Due: none

Update pom.xml
  messaging/pom.xml
Due: build_messaging, deploy

Update pom.xml
  vehicle/pom.xml
Due: build_vehicle, deploy

Update messaging.xml
  database-update/messaging.xml
Due: none

Update vehicle.xml
  database-update/vehicle.xml
Due: none

Update trip.xml
  database-update/trip.xml
Due: none

Update README.md
  README.md
Due: none
