Repository Artemkulish/Demo_3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_messaging, build_payment, build_simulation, build_trip, build_vehicle, build_identity, deploy_identity, deploy_messaging, deploy_payment, deploy_simulation, deploy_trip, deploy_vehicle

.gitlab-ci.yml:

variables:
    PATH_TO_JAR:    /target/*.jar
    #IP:             10.128.0.13
    #IP: $ENV-VARIEBLE
    
stages:
    - build
    - deploy    
    - update
    

.build_template: &build_template
    stage: build
    script:
        - cd $PATH_TO_APP
        - mvn clean package
        - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
        - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP
    artifacts:
        paths:
        - $PATH_TO_APP$PATH_TO_JAR
        expire_in: 60

build_messaging:
    <<: *build_template
    variables:
        PATH_TO_APP: messaging
    only:
        changes:
            - messaging/**/*
        
build_payment:
    <<: *build_template
    variables:
       PATH_TO_APP: payment
    only:
        changes:
           - payment/**/*

build_simulation:
    <<: *build_template
    variables:
        PATH_TO_APP: simulation     
    only:
        changes:
            - simulation/**/*

build_trip:
    <<: *build_template
    variables:
        PATH_TO_APP: trip     
    only:
        changes:
            - trip/**/*

build_vehicle:
    <<: *build_template
    variables:
        PATH_TO_APP: vehicle     
    only:
        changes:
            - vehicle/**/*

build_identity:
    stage: build
    script:
        - cd identity/identity-starter && mvn clean install
        - cd ../identity-service && mvn clean package
        - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:identity .
        - sudo docker push gitlab.svagworks.me:5050/root/demo_3:identity
    artifacts:
        paths:
        - identity/identity-starter$PATH_TO_JAR
        - identity/identity-service$PATH_TO_JAR
        expire_in: 1 day 
    only:
        changes:
            - identity/**/*

.deploy_template: &deploy_template
    stage: deploy
    script:
      - scp -r /home/env docker-compose.yml deploy.sh $PATH_TO_APP$PATH_TO_JAR $USERNAME@$IP_TEST:/tmp
      - ssh $USERNAME@$IP_TEST "sudo mv /tmp/*.jar /home/ && sudo mv /tmp/docker-compose.yml /home/ && sudo mv /tmp/deploy.sh /home/"
      - ssh $USERNAME@$IP_TEST "sudo bash /home/deploy.sh"
      
deploy_identity:
    <<: *deploy_template
    variables:
        PATH_TO_APP: identity/identity-service
    only:
        changes:
            - identity/**/*
    #dependencies:
    #    - build_identity

deploy_messaging:
    <<: *deploy_template
    variables:
        PATH_TO_APP: messaging
    only:
        changes:
            - messaging/**/*
        
deploy_payment:
    <<: *deploy_template
    variables:
        PATH_TO_APP: payment
    only:
        changes:
            - payment/**/*
        
deploy_simulation:
    <<: *deploy_template
    variables:
        PATH_TO_APP: simulation
    only:
        changes:
            - simulation/**/*
        
deploy_trip:
    <<: *deploy_template
    variables:
        PATH_TO_APP: trip
    only:
        changes:
            - trip/**/*
        
deploy_vehicle:
    <<: *deploy_template
    variables:
        PATH_TO_APP: vehicle
    only:
        changes:
            - vehicle/**/*

Update README.md
  README.md
Due: none

Update application.yml
  messaging/src/main/resources/application.yml
Due: build_messaging, deploy_messaging

Update application.yml
  identity/identity-service/src/main/resources/application.yml
Due: build_identity, deploy_identity

Update application.yml
  payment/src/main/resources/application.yml
Due: build_payment, deploy_payment

Update application.yml
  trip/src/main/resources/application.yml
Due: build_trip, deploy_trip

Update application.yml
  vehicle/src/main/resources/application.yml
Due: build_vehicle, deploy_vehicle

testing
  identity/test
  messaging/Dockerfile
Due: build_messaging, build_identity, deploy_identity, deploy_messaging

Delete test
  payment/test
Due: build_payment, deploy_payment

Delete test
  simulation/test
Due: build_simulation, deploy_simulation

Delete test
  trip/test
Due: build_trip, deploy_trip

Delete test
  vehicle/test
Due: build_vehicle, deploy_vehicle

Update Dockerfile
  simulation/Dockerfile
Due: build_simulation, deploy_simulation

Update Dockerfile
  identity/identity-service/Dockerfile
Due: build_identity, deploy_identity

Update Dockerfile
  messaging/Dockerfile
Due: build_messaging, deploy_messaging

Update Dockerfile
  payment/Dockerfile
Due: build_payment, deploy_payment

Update Dockerfile
  trip/Dockerfile
Due: build_trip, deploy_trip

Update Dockerfile
  vehicle/Dockerfile
Due: build_vehicle, deploy_vehicle

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

testing
  identity/test
  messaging/test
  payment/test
  simulation/test
  trip/test
  vehicle/test
Due: build_messaging, build_payment, build_simulation, build_trip, build_vehicle, build_identity, deploy_identity, deploy_messaging, deploy_payment, deploy_simulation, deploy_trip, deploy_vehicle
